body {
    text-align: center;
    margin-top: 100px;
    font-family: Arial;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
